body {
	margin: 0px;
}

.container {
	display: flex;
	flex: wrap;
	justify-content: center;
}

h1{
	font-family: fantasy;
	font-style: 3em;
	border-bottom: 2px solid pink;
	border-right: 2px;
	width: 400px
	text-align:4px;
	-moz-box-shodow:4px 4px 5px #888888;
	-ms-box-shodow:4px 4px 5px #888888;
	-webkit-box-shodow:4px 4px 5px #888888;
	-o-box-shodow:4px 4px 5px #888888;
	box-shadow:4px 4px 5px #888888;
	margin-top: : 10px;
}

img {
	width: 300px;
	height: 180px;
	margin: 10px
	transition: all 4s;
}
img:hover {
	transform: scale(1.1);
}